<link rel='stylesheet' href='/stylesheets/account.css' />


<div class="row mt-5" >
    <div class="col-md-4 col-md-offset-4">
        <div class ="card card-body text-center" id="account">
            <h1><i class="fab fa-node-js fa-3x"></i></h1>
            <p>Create an account or Login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>

